body {
    background-color :white;
    height: 20em;
    width: 34em;
    text-align: center;
    margin: auto;
}
span{
    color: rgb(15, 153, 15);

}
#div1{
   background-color: rgb(255, 255, 176);
   padding: 0.1em 5em 0.8em 5em

}
h1{
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
}
h2{
    font-family: 'Trocchi', serif;
    text-align: center;
    color: rgb(0, 85, 196);
}
p{
    font-family: sans-serif;
    text-align: center;
    box-sizing: border-box;

}
