body{
    font-family: sans-serif;
    text-align: center;
    text-align: center;
    margin: auto;
    height: 20em;
    width: 44em;
}
h1  {font-weight: lighter;
    text-align: left;
}
#h1 {
    font-size: 1.1em;

}
span {font-size: 2em;


}
