body {
  background-color: tan;
  font-family: sans-serif;
    }
    h1, h3 {
      color: blue;
      font-family: cursive;
    }
    .tea{
      color:green;
    }
    .coffee{
      color:rgb(235, 66, 66);
    }
    span {
      color: blue;
    }
    #special {
      color: red;
      font-family: fantasy;
    }
